.skatedecor {
  padding-top: 8em;
}

.skatedecor__background {
  background-image: url('../../public/images/bg.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.skatedecor__icon {
  color: #333;
  font-size: 3em;
  text-decoration: none;
}

.skatedecor__icons {
  margin-top: 0.7em;
  text-align: center;
}

.skatedecor__notice {
  background-color: #fff;
  padding: 25px;
  text-align: center;
}

.skatedecor__notice img {
  max-height: 50%;
  max-width: 50%;
}

.skatedecor__notice p {
  color: #333;
  line-height: 1.8;
  margin-top: 0.7em;
  font-size: 1.5em;
  font-weight: 300;
  text-align: left;
}

.skatedecor__mailinglist input[type="email"] {
  display: block;
  font-size: 1.5em;
  margin: 1em auto 0 auto;
  padding: 0.4em;
  width: 50%;
}

.skatedecor__mailinglist input[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 1.3em;
  margin: 1em auto 2em auto;
  padding: .5em;
  width: 25%;
}
